:root {
  font-family: Arial, Helvetica, sans-serif;
  --horiscroll-padding: 1rem 0.5rem;
  --horiscroll-margin: 2rem 0.5rem;
  --horiscroll-inner-list-bg: #023047;
  --horiscroll-li-button-surface: #415a77;
  --horiscroll-text: white;
}

.horiscroll-animation-container {
  white-space: nowrap;
  overflow: auto;
  scrollbar-width: none;
  display: flex;
  background: var(--horiscroll-inner-list-bg);
  color: var(--horiscroll-text);
  .material-symbols-outlined {
    font-variation-settings:
      'FILL' 0,
      'wght' 400,
      'GRAD' 0,
      'opsz' 24;
  }
}

.horiscroll-animation-container::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.horiscroll-inner-list {
  margin: 0;
  padding-inline: 0;
  list-style: none;
  display: flex;
  flex: 0 0 100%;
  /* overflow: hidden; */
  transform-style: preserve-3d;
  backface-visibility: hidden;
  justify-content: space-around;
  /* outline: solid 1px red; */
}

.horiscroll-material-symbols {
  display: flex;
  align-items: center;
  padding: 0 1rem;
}

.horiscroll-inner-list li {
  margin: var(--horiscroll-margin, 0.5rem);
  width: fit-content;
}

.horiscroll-inner-list.is-button li {
  cursor: pointer;
  padding: var(--horiscroll-padding, 1rem);
  border-radius: 0.5rem;
  background: var(--horiscroll-li-button-surface);
  /* box-shadow: 0 0.15rem 0.5rem -0.05rem var(--clr-primary-900); */
}

.horiscroll-inner-list.is-button li:hover {
  /* background-color: rgba(255, 255, 255, 0.05); */
  opacity: 0.8;
  filter: alpha(opacity=80);
}

@keyframes horiscroll-animate {
  0% {
    left: 100%;
  }

  100% {
    left: -100%;
  }
}

@keyframes horiscroll-scaling {
  from {
    opacity: 0;
    /* transform: translateX(20px); */
    scale: 0.6;
  }
  to {
    opacity: 1;
    /* transform: translateX(0px); */
    scale: 1;
  }
}

@keyframes horiscroll-translate-up {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes horiscroll-translate-down {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

.with-scaling-entering-animation {
  --animation-type: horiscroll-scaling;
}

.translate-up-entering-animation {
  --animation-type: horiscroll-translate-up;
}

.translate-down-entering-animation {
  --animation-type: horiscroll-translate-down;
}

.horiscroll-inner-list[class*='entering-animation'] > * {
  animation: var(--animation-type) linear both;
  /* animation-timeline: --foo; */
  animation-timeline: view(inline auto);
  /* animation-range: 0px 10px; */
  animation-range: entry 0.0001% contain 0.0001%;
  animation-duration: 1ms;
}

.horiscroll-animation-container.with-mask {
  mask: linear-gradient(90deg, transparent, white 5%, white 95%, transparent);
}
